# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
.suo
*.v2

# Compiled Release files
*.cache

/.vs/ImplementFactory
/packages/

# Compiled bin files
/System.DJ.ImplementFactory.Framework/bin/
/System.DJ.MicroService.Framework/bin/
/System.DJ.ImplementFactory.NetCore/bin/
/System.DJ.ImplementFactory.Standard/bin/
/System.DJ.MicroService.NetCore/bin/
/MicroService.Web/bin/
/Test.Framework/bin/
/Test.FrameworkApi/bin/
/Test.FrameworkApi/TempImpl/
/Web.Framework/bin/
/Web.Framework/TempImpl/
/Test.NetCore/bin/
/Test.Standard/bin/
/Test.NetCoreApi/bin/
/Web.NetCore/bin/

# Compiled obj files
/System.DJ.ImplementFactory.Framework/obj/
/System.DJ.MicroService.Framework/obj/
/System.DJ.ImplementFactory.NetCore/obj/
/System.DJ.ImplementFactory.Standard/obj/
/System.DJ.MicroService.NetCore/obj/
/System.DJ.MicroService.Standard/obj/
/MicroService.Web/obj/
/Test.Framework/obj/
/Test.FrameworkApi/obj/
/Test.NetCore/obj/
/Test.Standard/obj/
/Test.NetCoreApi/obj/
/Web.Framework/obj/
/Web.NetCore/obj/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pdb

# Executables
*.out
*.app
/.vs/System.DJ.ImplementFactory/FileContentIndex
