@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="~/lib/jquery/jquery.min.js"></script>
<script type="text/javascript">
    //var url = 'http://192.168.2.168:88/api/SysBase/Test';
    //$.ajax({
    //    url: url,
    //    type: 'post',
    //    dataType: 'json',
    //    headers: {
    //        token: '346aab04-3c31-4884-804b-4058de8410b4'
    //    },
    //    success: function(dt){
    //        alert(dt.message);
    //    }
    //});    
</script>