/**<Summary>
	*1.如果[*必选*]为空,那么将在接口类所在的程序集扫描接口实例;
	*2.如果[*必选*]不为空,程序集文件路径(DllRelativePathOfImpl)为空,那么将在接口类所在的程序集扫描接口实例;
	*
</Summary>
*<Param>DllRelativePathOfImpl: [可选] - 实例类所在dll文件的相对路径, 如果为空,表示实例类和exe文件属同一dll文件 </Param>
*<Param>ImplementNameSpace - : [可选] - 指定实现interface类的实例所在的namespace </Param>
*<Param>MatchImplExpression  : [*必选*] - 匹配实现接口(interface)类的实例名称,可以是一个完整的类名称, 但不包含namespace. 也可以是一个正则表达式 </Param>
*<Param>InterFaceName ------ : [*必选*] - 接口名称, 可以是一个 namespace.interfaceClassName 完整的接口名称, 或部分名称空间, 也可是interfaceClassName </Param>
*<Param>IgnoreCase --------- : [可选] - 匹配 MatchImplExpression 时是否忽略大小写, 默认false[区分大小写], true[忽略大小写] </Param>
*<Param>IsShowCode --------- : [可选] - 是否显示对应临时dll文件的代码, 默认false[不显示], true[显示] </Param>
*
*<Summary>
	*数据库访问配置, 如已配置IDbHelper, 则IDbHelper的优先级高于该配置
	*如果数据库非 Micrsoft Sql Server 数据库，必需重新实现 IDataServerProvider 接口，且该实例为 public ,该实例会被组件会自动加载
	*
</Summary>
*<Param>ConnectionString ----------- : [*必须*]数据库接连字符串</Param>
*<Param>DatabaseType: -------------- : [*必须*]数据库类型(sqlserver/oracle/mysql/access)</Param>
*<Param>SqlProviderRelativePathOfDll : [可选]动态 sql 提供者所在的dll文件程序集的相对路径,注：该提供者必须继承 System.DJ.ImplementFactory.Pipelines.ISqlExpressionProvider 接口</Param>
*<Param>optByBatchMaxNumber: ------- : [可选] - insert/update/delete 批量操作最大数量, 默认100条数据 </Param>
*<Param>optByBatchWaitSecond: ------ : [可选] - insert/update/delete 执行最后的批量操作等待时间(秒), 默认3秒 </Param>
*<Param>sqlMaxLengthForBatch: ------ : [可选] - insert/update/delete 批量操作 sql 表达式最大长度, 默认 50000 </Param>
*<Param>close: --------------------- : [可选] - 释放资源并关闭连接, true/false, 默认 false(释放资源但不关闭连接) </Param>
*<Param>dbConnectionFreeStrategy: -- : [可选] - 数据库连接释放策略，onlyDispose/disposeAndClose 或整数值: 0/1, close 属性的补充，此属性优先级高于 close 属性</Param>
*<Param>InsertBatchStrategy: ------- : [可选] - 缓存时批量插入策略，normalBatch/singleList 或整数值: 0/1, 默认采用通用批量插入</Param>
*<Param>IsShowCode: ---------------- : [可选] - 是否显示对应临时dll文件的代码, 默认false[不显示], true[显示]</Param>
*
*<Summary>
	*日志输出等级范围, 依次为: 0 severe(严重的), 1 dangerous(危险的), 2 normal(一般的), 3 lesser(次要的), 4 debug(调试)
	*上限值必须小于或等于下限值
	*
</Summary>
*<Param>upperLimit ----------- : 上限值</Param>
*<Param>lowerLimit ----------- : 下限值</Param>
*
*<Summary>
	*首次加载时是否执行重新编译机制(耗时及有损性能)
	*
</Summary>
*<Param>Recompile --------- : 默认值 false, true 重新编译, false 如果已存在则不进行重新编译</Param>
*<Param>IsShowCode -------- : 默认值 false, true 显示所有参与编译的代码</Param>
**/

{Recomplie=false,IsShowCode=false}

{upperLimit="severe",lowerLimit="debug"}

{ConnectionString="Data Source=(local);Initial Catalog=DbTest;User Id=sa;Password=sa;",DatabaseType="sqlserver",SqlProviderRelativePathOfDll="",optByBatchMaxNumber=100,optByBatchWaitSecond=3,sqlMaxLengthForBatch=50000,close=false,dbConnectionFreeStrategy="onlyDispose",insertBatchStrategy="normalBatch",IsShowCode=false}

{DllRelativePathOfImpl="",ImplementNameSpace="",MatchImplExpression="",InterFaceName="",IgnoreCase=true,IsShowCode=false}